.parent {
}
.background {
  background: linear-gradient(to bottom, #6600ff 0%, #ff66cc 100%);
  background-size: cover;
  min-height: 100vh;
}
.text-main {
  text-align: center;
  padding-top: 35px;
  margin-top: 0;
  font-size: 60px;
  color: #ffa375;
  font-family: "Lilita One", cursive;
}
.parent-search {
  text-align: center;
  & div input {
    width: 300px;
    height: 50px;
  }
  & div button {
    width: 80px;
    height: 50px;
  }
}
.info-detail {
  margin: auto;
  margin-top: 30px;
}
.form {
  display: flex;
  justify-content: center;
}
.card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  row-gap: 20px;
  column-gap: 10px;
  width: 1240px;
  margin: auto;
  text-align: center;
  padding: 20px;
}
.content {
  text-align: left;
}
.edit {
  font-size: 20px;
  color: gray;
}
.delete {
  font-size: 20px;
  color: red;
}
.alerting {
  background-color: white;
}
.overdue {
  position: absolute;
  rotate: -49deg;
  color: red;
  top: -1px;
  font-size: 18px;
  font-weight: bold;
  left: -6px;
}
.button-add {
  margin-left: 10px;
  background-color: #f27474;
}
.button-add:hover {
  background-color: orange !important;
}
.custom-month{
  color: #ffa375;
  margin-left: 25px;  
  font-family: "Lilita One", cursive;
}
.custom-month-icon {
  color: #c7ff40; 
  margin-right: 20px; 
}
.button-chart {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 50px;
}
